<div id="flash">
	<%= textilize(flash[:notice])%>
</div>	

<h3>Edit Product</h3>	

<div id="images_list">
	<%= render :partial => 'images_list' %>
</div>

<div id="product">
	<%= render :partial => 'customer_form' %>
</div>





