<h3>Welcome!</h3>

<p id="intro">You are have reached the administration section of Sweet Ladies Mercantile. Here you will be able to administer items features on the web site, as well as the categories that they are associated with. Please use the links above to go to your desired section.</p>