<div id="main_image">
	<%= image_tag( "/images/decoration.gif")%>
	
	<%= image_tag( "/images/decoration.gif")%>
</div>	

<p>Greetings from your Sweet Lady,</p>

<p class="indent">I am very honored to be given this time to tell all of you a little bit about myself, family, and friends.</p>

<p class="indent">As most of you know, my name is Jeanne Isaacs and my family and I have been re-enacting for nineteen exciting years. For nine of those years I walked sutler's row admiring the beautiful clothes and fancy accessories only imagining that I could own something so elegant. But with three young grandchildren in the house at the time, there was no way I could afford it.</p>

<p class="indent">I enjoy people very much and I've always been one to see that people were happy. That has always been the case with everything; my family, my friends, and my church. So I often thought to myself, "There is no reason I couldn't have a sutlery and not enjoy doing it."</p>

<p class="indent">The tenth year of my re-enacting I began to pray about starting a sutlery that could supply clothes and accessories affordable for all ages, pleasing to both genders, and fitting to all sizes.</p>

<p class="indent">I asked God if it was His will and if so, to give me direction on where to get all of the supplies I needed. God is good, within the year everything I asked for was given to me. The Amish and Mennonites began to sew for me and soon after, a local sewing factory began to sew for me as well. With this much help, love, and support, I was and continue to produce large quantities of clothes and accessories, with a high quality, and at an inexpensive price. My business has been growing steadily going on nine years now.</p>

<p class="indent">I started out selling baked goods and candy, that's how I got the name Sweet Lady. Buy my goal was and still is to help my customers and myself achieve more than I thought possible and have fun doing it, and with the Lord's blessing I have been doing just that.</p>

<p class="indent">Throughout the years I have read book and studied on the era that I supply for in hopes that my customers, family, and friend's portrayal will be as authentic as possible.</p>

<p class="indent">One of the things that I have learned in starting my own business is, "The only time the word <b>SUCCESS</b> comes before the word <b>WORK</b> is in the dictionary."</p>

<p class="indent">In saying that, the past eight years as a sutler have been very rewarding and I look forward to the ninth year.</p>

<p class="indent">All of my customers mean so much to me and I guarantee that, "You will come in as a customer, but leave as my friend."</p>

<p class="indent">In closing, I would just like to thank you all again for giving me this opportunity to show you a part of who I am. I hope to see you this season and many seasons to come.</p>	

<p>God Bless You,<br /> Jeanne Isaacs<br />Sweet Ladies Mercantile</p>

<div id="contact_info">
	<%= image_tag( "/images/decoration.gif")%>
	<h1>Contact Information</h1>
	<h3>
		Sweet Ladies Mercantile<br />
		Jeanne Isaacs<br />
		673 Blowtown Rd.<br />
		Leitchfield, KY  42754<br />
		(270) 259-6667<br />
		<a href="mailto:sweetladies@usdol.net">Email Us!</a>
	</h3>
	<%= image_tag( "/images/decoration.gif")%>	
</div>	